<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Smartax Service</title>
	<link rel="shortcut icon" href="images/main/smartax.png">
	<!-- <link rel="stylesheet" href="css/Intro.css"> -->
</head>

<body>
		<div class="bdwrap">	
			<div class="mid">
			<img src="images/intro/intro_headtitle.png" width="1100" height="95">
			</div>
		</div>


<!-- 상단 네이게이션, 사진바 종료 -->

<!-- Intro 시작 -->


	<div class="intro_1">
			<div class="intro_bd">
				<img src="images/intro/intro.png" height="800px;">
				<img src="images/intro/intro1.png" height="900px;">
				<img src="images/intro/intro2.png" height="900px;">
				<img src="images/intro/intro3.png" height="900px;">
				<div class="intro_btn">
					<a class="intro_a">∧</a>
					<a class="intro_a">∨</a>
				</div>

			</div>		
				
	</div>

	

		

		









 </body>

</html>
