
 ______   ______   __   __   ______
/\  == \ /\  __ \ /\ \_/\ \ /\  __ \ 
\ \  __< \ \ \/\ \\ \  \_\ \\ \ \/\ \   __
 \ \_____\\ \_____\\ \_\-\__\\ \_____\ /\_\
  \/_____/ \/_____/ \/_/ /__/ \/_____/ \/_/





@font-face{
	font-family:"Daum_Regular";
	src:url("font/Daum_Regular.ttf")format("truetype");
	font-style:normal;
	font-weight:normal;
}

body {
	margin: 0;
	A:link {font-family:"Franklin Gothic Heavy" color: white; text-decoration: none}
	A:visited {text-decoration: none}
	A:hover {color: #0099ff; text-decoration: none}
}


.menuwrap {
	margin: auto;
	text-align: center;

}

.menuwrap_board{
	margin: auto;
	text-align: center;
	background-color:#afa89c;
}


.click_pt{
	cursor:pointer;
}
		



header{
	background: #FFFFFF;
	width: 1100px;
	height: 70px;
	color: white;
	font-family: "Arial Black";
	font-weight: bold;
	clear: both;
	margin: auto;
	display: block;
}



nav{
	position:relative;
	/*display: block;*/
	margin: auto;
	top: 10px;

}


.logo{
	margin: 13px 100px 0 15px;
	width:170px;
}


nav ul{

	width:1100px;
	display: inline;
	color:#2D343F;

}

nav ul li{
	float:left;
	width:150px;
	/*height:65px;*/
	margin: 16px 0px 5px 0;
	color: white;
	text-align: center;
	display: inline-block;
	list-style-type:none;
	padding: 0px 0px 0px 0;
}


.menu1:hover{
	content: url("../images/menu/menu1_1.png");
}

.menu2:hover{
	content: url("../images/menu/menu2_1.png");
}

.menu3:hover{
	content: url("../images/menu/menu3_1.png");
}

.menu4:hover{
	content: url("../images/menu/menu4_1.png");
}

.menu5:hover{
	content: url("../images/menu/menu5_1.png");
}


/* 메뉴아래 사진영역  */


.mid {
	border-top: 2px solid #007ACC;
	margin: auto;
	height:96px;
	background-color: #000000;

}


/* 검색창 영역  */

.mid_1{
	margin: 30px 0 0 0;
	text-align: center;
}


.mid_1 ul{
	clear:both;
	height: 40px;
	margin: auto;
	padding: 10px 0 0 0px;
	width:900px;
}


.selectStyle{
   width: 120px;
   height: 25px;
   /*overflow: hidden;*/
   margin: auto;
   background: url(../images/board/selectbtn.png) no-repeat right #FFFFFF;
   border: 1px solid #ccc;	
   -webkit-appearance: none;
}

.mid_1 .writePlace{
   width: 400px;
   height: 26px;
   margin: 0 60px 0 60px;
   
}


.SearchBtn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  width:8%;
  max-height: 1.3em;
  font-family: Arial;
  color: #ffffff;
  font-size: 0.7em;
  background: #38342e;
  padding: 6px 15px 6px 16px;
  margin: 0 10px 0 60px;
  text-decoration: none;
  border-color: none;
   float: left;
}

.SearchBtn:hover {
  background:#007ACC;
  text-decoration: none;
}





/* -------------------------- 게시판 영역 ----------------------------  */


.btn-flow-black{
	margin: 20px 100% 0 0.3%;

	background-color:none;
	text-align: center;
	
}

.cont_btn1 {

  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  width:96px;
  max-height: 1.4em;
  font-family: Arial;
  color: #ffffff;
  font-size: 0.8em;
  background: #38342e;
  text-decoration: none;
  text-align: center;
  height:23px;
  padding: 3px 0 5px 0;

}



.cont_btn1:hover {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  width:96px;
  max-height: 1.4em;
  font-family: Arial;
  color: #ffffff;
  font-size: 0.8em;
  background:#007ACC;
  text-decoration: none;
  text-align: center;
  height:25px;
  padding: 3px 0 5px 0;


}





.portlet{
   height: 100%;
   /*height: 360px;*/
   width: 100%;
   /*display: inline-block;*/
   vertical-align: middle;
   /*padding: 10px 0 20px 108px;*/
   /*padding: 70px 0 0 0;*/
   margin:  5px 0 60px 0;
   background-color:#ffffff;
   
}

.B_ptl{
	vertical-align: middle;
    display: inline-block;
	margin: 0;
	min-height: 431px;
}

.B_ptl ul{
	clear:both;
	text-align:left;
    color:#2D343F;
    font-size: 15px;
}

#faq_tab
{
	background-color: #FFFFFF;
}

#faq_tab a
{
	font-size: 13px;
	line-height: 16px;
}

/*요거 꼬이겠구만.. 재확인 필요*/
.B_ptl div{
	text-align:center;
	width:96px;
	height:20px;
	margin: 5px 0 5px 2px;
	font-weight: bold;
}



.B_ptl a{
    text-decoration: none;
}




thead tr{
	clear:both;
	font-family:"Daum_Regular";
	font-size:0.9em;
	padding: 0px;
	margin: 0 0 0 0px;
	/*border-bottom: 2px solid #888;*/
	background-color:#3E3A39;
	color:#FFFFFF;
	width: 100%;
    line-height: 30px;
    
}

.title{
	text-align: left;
}


tbody td a{
	cursor:pointer;	
	color:#000000;
}

tbody td a:link{
	cursor:pointer;	
	color:#000000;
}




.portlet ul{
	background-color:#261300;
	color:#FFFFFF;
	width: 100%;
    line-height: 30px;
    */
}

.portlet tbody tr{

	font-family:"Daum_Regular";
	font-size:0.8em;
	list-style-type:none; 
	border-bottom: 1px solid #e6e6e6;
	padding: 7px 0 0 0;
	width: 800px;
    line-height: 25px;
    background-color: #ffffff;
}

.portlet tbody tr:hover {

    background-color: #f3f2f2;

}






tbody tr td li{
	display:inline-block;
}


.paging tbody tr:hover{
	clear:both;
	margin:auto;
	background-color:#FFFFFF;
}

.paging {
	clear:both;
	margin: 30px auto;
	background-color:#FFFFFF;
}


.bottom_btn{
	height:25px;
}



/* ------------------------footer------------------------ 영역 */





@media screen and (max-width: 300px){
	.ft1{
		width:30%;
		font-size: 10px;
	}
	
	.ft2{
		width:13%;
		font-size: 10px;
	}
	
	.ft3{
		width:13%;	
		font-size: 10px;
	}
}


footer a{
  color:#FFFFFF; text-decoration: none;
}


footer a:link{
  color:#FFFFFF; text-decoration: none;
}
/*
:link{color:#FFFFFF;}
a:link {color:#FFFFFF; text-decoration: none;}
:visited {}
a {color:#FFFFFF; text-decoration: none;}*/


.footer p{
	margin: 0;
	padding: 1px;
	text-decoration: inherit;
}

.footer{
	font-family:"Daum_Regular";
	top: 1320px;
	width: 100%;
	font-size:0.75em;
	background-color: #2d343f;
	height: 200px;
	color: white;
	margin: auto;
	padding: 20px 0 0 0;
	
}

.ftFrame {
	display: inline-block;
	margin: 0 0 0 -10%;

}

.logo2{
}

.ft1{
    display: inline-block;
	margin: 0px 50px 0 10px;
	width:30%;
	font-size: 1em;
	color: white;
}

.ft2{
    display: inline-block;
    width: 100%;
	margin: 0px 0 0 0;
	width:13%;
	font-size: 1em;
	color: white;
}

.ft3{
	display: inline-block;
    width: 100%;
    color: white;
	margin: 0 10px 0 70px;
	width:13%;	
}
.Face{
	height: 35px;
	margin: 5px 5px;
}
.Tweet{
	height: 35px;
	margin: 5px 5px;
}
.Blog{
	height: 35px;
	margin: 5px 5px;
}

.Face:hover{
	content: url("../images/main/face_1.png");
    height: 35px;
	margin: 5px 5px;
}

.Tweet:hover{
	content: url("../images/main/tweet_1.png");
    height: 35px;
	margin: 5px 5px;
}

.Blog:hover{
	content: url("../images/main/blog_1.png");
    height: 35px;
	margin: 5px 5px;
}



.ftR{
	margin: auto;
	height: 100px;
}
.frlogo{
    margin: -16px 0 0 15px;
}

.FAQ_board_tabwrap{
	width:1100px;
	margin: auto;
}


.FAQ_board{
	margin: 0 auto;
}

.FAQ_tb{
	margin: auto;
}
.FAQ_col{
	background-color:#3E3A39;
	color: #ffffff;
	height: 32px;
}

.FAQ_col tr th{
	height: 32px;
}

td:nth-child(4){
	width:100px;
}
td:nth-child(3){
	text-align:left;
}

tbody tr td li{
	display:inline-block;
}


.FAQ_board tbody tr{
	font-family:"Daum_Regular";
	font-size:0.8em;
	list-style-type:none; 
	border-bottom: 1px solid #e6e6e6;
	padding: 7px 0 0 0;
	width: 800px;
    line-height: 25px;
    background-color: #ffffff;
}

.FAQ_board tbody tr:hover {
    background-color: #f3f2f2;

}


.FAQ_btnWrap{
	margin: 250px 0 0 700px;
}

.FAQ_Write_btn{
	cursor:pointer;
	display:inline-block;
	border-radius: 5px 5px;
	background-color: #404040;
	height:25px;
	width:50px;
	font-size:1em;
	color:#FFFFFF;
	font-weight:bold;
}

.FAQ_Write_btn:hover{
	background-color: #007ACC;
}





.paging tbody tr:hover{
	clear:both;
	margin:auto;
	background-color:#FFFFFF;
}

.paging {
	clear:both;
	margin:auto;
	background-color:#FFFFFF;
}

.bottom_btn{
	height:25px;
}




/* ------------------------footer------------------------ 영역 */

footer p{
	margin: 0;
	padding: 1px;
	text-decoration: inherit;
}

footer{
	font-family:"Daum_Regular";
	top: 1320px;
	width: 100%;
	font-size:0.75em;
	background-color: #2d343f;
	height: 200px;
	color: white;
	margin: auto;
	padding: 20px 0 0 0;
	
}

.ftFrame {
	display: inline-block;
	margin: 0 0 0 -10%;

}

.logo2{
}

.ft1{
    display: inline-block;
	margin: 0px 50px 0 10px;
	width:30%;
	font-size: 1em;
}

.ft2{
    display: inline-block;
    width: 100%;
	margin: 0px 0 0 0;
	width:13%;
	font-size: 1em;
}

.ft3{
	display: inline-block;
    width: 100%;
	margin: 0 10px 0 70px;
	width:13%;	
}
.Face{
	height: 35px;
	margin: 5px 5px;
}
.Tweet{
	height: 35px;
	margin: 5px 5px;
}
.Blog{
	height: 35px;
	margin: 5px 5px;
}

.Face:hover{
	content: url("../images/main/face_1.png");
    height: 35px;
	margin: 5px 5px;
}

.Tweet:hover{
	content: url("../images/main/tweet_1.png");
    height: 35px;
	margin: 5px 5px;
}

.Blog:hover{
	content: url("../images/main/blog_1.png");
    height: 35px;
	margin: 5px 5px;
}



.ftR{
	margin: auto;
	height: 100px;
}
.frlogo{
    margin: -16px 0 0 15px;
}


.input_btn {
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	width: 60px;
	font-family: Arial;
	color: #ffffff;
	font-size: 0.7em;
	background: #38342e;
	text-decoration: none;
	border : 0px;
	height: 25px;
}

.input_btn:hover {
	background: #007ACC;
}


.FAQ_board_tab{
	border-radius: 5px 5px 0px 0px;
	clear:both;
	font-size:0.8em;
	display:inline-block;
	background-color: #F2F2F2;
	width:80px;
	height:20px;
	text-align:center;
	font-weight: bold;
	padding-top:5px;
	margin: 0 0 0 0;
	
}

.FAQ_board_tab a
{
	color : black;
}

.FAQ_board_tab a:hover
{
	color : #ffffff;
}

.FAQ_board_tab:hover{
	border-radius: 5px 5px 0px 0px;
	clear:both;
	font-size:0.8em;
	display:inline-block;
	background-color: #3E3A39;
	color: #ffffff !important;
	width:80px;
	height:20px;
	text-align:center;
	font-weight: bold;
	padding-top:5px;
	margin: 0 0 0 0;
}

.portlet .B_ptl ul
{
	
}