/*이 페이지에서 필요한 부분만 리셋합니다.*/

@page a4sheet { size: 21.0cm 29.7cm }
.a4 { page: a4sheet; page-break-after: always }

body {
display: block;
margin: 0px;
}

* {
	margin:0; 
	padding:0;
	font:13px "돋움",Dotum,sans-serif;
	line-height: 1.302343;
    /* 1.18
        line-height: 1.1;
    
    line-height: 1.428571429;
    */
    color: #333333;
     
	}

h1 {
	margin:.67em 0;
	font-size:2em
	}


sup {
	top:-.5em
	}

sub {
	bottom:-.25em
	}
 

table {
	border-spacing:0;
	border-collapse:collapse
	}

td,th {
	padding:0
	}

/*custom style*/


.content  {
	width:920px;
	margin:50px auto;
	background1:#f4f4f4;
	}

.title {
	overflow : hidden;
	margin-bottom : 10px;
	text-align:center;
	}

.title h1{
	margin-bottom:5px;
	letter-spacing : 3px; 
	}

.floatR {
	float : right;
	padding-right : 30px;
	} 

.sub {
	display : inline-block;
	width : 200px;
	text-align :left;
	}
.overf { 	overflow : hidden; }

.bold {font-weight : bold;} 
.hidden {	display : none; }
.viewNon {visibility: hidden;} 
.num { margin-right: 7px;}
 
.letter1 { letter-spacing : 1px; }
.letter2 {	letter-spacing : 2px; }
.letter3 {	letter-spacing : 3px; }
.letter4 { letter-spacing : 4px; }
.letter5 {	letter-spacing : 5px; }
.letter6 {	letter-spacing : 6px; }
.letter7 {	letter-spacing : 7px; }
.letter8 {	letter-spacing : 8px; }
.letter9 {	letter-spacing : 9px; }
.letter10 { letter-spacing : 10px; }
.letter11 { letter-spacing : 11px; }
.letter12 { letter-spacing : 12px; }
.letter13 { letter-spacing : 13px; }
.letter14 { letter-spacing : 14px; }
.letter15 { letter-spacing : 15px; }
.letter20 { letter-spacing : 20px; }

.letterM1 { letter-spacing :-1px; }

.pdr15 { padding-right:15px;}
.pdr5 { padding-right:5px;}

.mgt10 { margin-top:10px;}

.txtCenter {text-align : center;} 
.txtRight {text-align : right;} 
.txtJusti {text-align : justify;} 


/*테이블 */
th { 
	padding : 8px 0; 
	text-align : left;
	}
 
th  span {
	padding-left : 10px;
	font-size : 18px;
	font-weight : bold;
	}

tr { 
	border-top : 1px solid #000;
	border-bottom : 1px solid #000;
	}

td {
	 border-right : 1px solid #000; 
	padding : 10px 0;
	}

td:last-child{ border-right :none; }

.table01 td {
	padding : 10px 0;
	}

.thTitle {
	border-top  : 2px solid #000; 
	border-bottom  : 2px solid #000;
	 } 

.thTitle01 {
	border-top  : 1px solid #000; 
	border-bottom  : 2px solid #000;
	 } 

.tableN tr{border : none;}
.tableN td{ 
	padding : 10px 5px 0 0; 
	text-align : right;
	border : none; 
	}

.tableN01 { padding-bottom:0; }
.tableN01 tr{ 
	border : none;
	height : 38px; 
}
.tableN01 td{ padding : 12px 7px; }

/*첫번째 테이블의 소제목*/
.table01 td:nth-child(odd) { padding-left : 15px; }

/*첫번째 테이블의 내용*/
.table01 td:nth-child(even) { padding-left : 10px; }




.print_btn_area {
    position: absolute;
    top: -8px;
    left: -8px;
    padding: 5px;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    text-align: center;
}
.print_btn_area button {
    width: 66px;
    font-family: 'Malgun Gothic', 'Dotum';
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}
@media print {
    .print_btn_area {
       display:none;
    }
}


