/*이 페이지에서 필요한 부분만 리셋합니다.*/

@page a4sheet { size: 21.0cm 29.7cm }
.a4 { page: a4sheet; page-break-after: always }

body {
display: block;
margin: 0px;
}

* {
	margin:0; 
	padding:0;
	font:15px "돋움",Dotum,sans-serif;
	line-height: 1.302343;
    /* 1.18
        line-height: 1.1;
    line-height: 1.428571429;
    */
    color: #333333;
	}

h1 {
	margin:.67em 0;
	font-size:2em
	}


sup {
	top:-.5em
	}

sub {
	bottom:-.25em
	}
 

table {
	border-spacing:0;
	border-collapse:collapse
	}

td,th {
	padding:0
	}

/*custom style*/


.content  {
	width:920px;
	margin:50px auto;
	background1:#f4f4f4;
	}

.print_btn_area {
    position: absolute;
    top: -8px;
    left: -8px;
    padding: 5px;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    text-align: center;
}
.print_btn_area button {
    width: 66px;
    font-family: 'Malgun Gothic', 'Dotum';
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}
@media print {
    .print_btn_area {
       display:none;
    }
}

#top_div
{
	width : 93%;
	margin : 10px;
	border: 1px solid black;	
	padding : 30px 20px 200px 20px;
}

#title_div 
{
	text-align :center;
}

#title
{
	font-size : 30px;
	text-decoration: underline;
}

#top_left_div
{
	float : left;
	width : 33%;
	padding : 10px;	
}

#top_right_div
{
	float : right;
	width : 60%;
	padding : 10px;
}

#io_tr_cd
{
	font-size : 22px;
}

#div_io_tr_cd
{
	border-bottom: 1px solid black;	
}

#top_right_div table 
{
	width : 100%;
}

#top_right_div tr 
{
	height: 40px;
}

#top_right_div th
{
	border : 1px solid black;
}

#top_right_div td
{
	border : 1px solid black;
	text-align: center;
}

#bottom_div
{
	width : 93%;
	margin : 10px;
	border: 1px solid black;	
	padding : 20px;
	height: 870px;
}

#bottom_div table
{
	width : 100%;
}

#bottom_div tr 
{
	height: 40px;
}

#bottom_div th
{
	border : 1px solid black;
}

#bottom_div td
{
	border : 1px solid black;
	text-align: center;
}