<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>Smartax Service</title>
	<link rel="shortcut icon" href="images/main/smartax.png">
	<link rel="stylesheet" href="css/Price_policy.css">
</head>

<body>
		<div class="bdwrap">

		<div class="mid">
			<img src="images/price/price_head.png" width="1100" height="95">

		</div>
</div>


<!-- 상단 네이게이션, 사진바 종료 -->

<!-- 게시판 시작 -->




		<div class="menuwrap">
			<div class="price_bd">
			<div class="price_img">
			<img src="images/price/price_body.png" style="height:450px;" >
			</div>
			</div>
        </div>

		








