<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Smartax Service</title>
<link rel="shortcut icon" href="images/main/smartax.png">

<meta name="description" >
<meta name="viewport" content="width=device-width, initial-scale=0.1">

<script type="text/javascript" src="../../js/vendor/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../js/Util.js"></script>

<!-- <script type="text/javascript" src="../../js/vendor/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script> -->
<!-- <script type="text/javascript" src="./js/vendor/modernizr-2.6.2.min.js"></script> -->
<!-- <link rel="stylesheet" href="./js/vendor/jquery-ui-1.11.2.custom/jquery-ui.min.css"> -->

<!-- <link rel="stylesheet" href="./css/normalize.min.css"> -->
<!-- <link rel="stylesheet" href="../../css/main.css"> -->
<!-- <link rel="stylesheet" href="../../css/default.css">   통합전 -->

<link rel="stylesheet" href="../../css/default_001.css">    <!-- 통합후 -->